NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=airbnb_user
DB_PASSWORD=airbnb_pass
DB_NAME=airbnb_db
JWT_ACCESS_SECRET=access-secret-change-in-prod
JWT_REFRESH_SECRET=refresh-secret-change-in-prod
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d